@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0%;
    margin: 0%;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    background: #FBF7F4;
    transition: background-color 0.15s, color 0.15s, box-shadow 0.5s;
}

.container{
    max-width: 8.3in;
    width: 100%;
    height: auto;
    margin: 5% auto 5% auto;
    background-color: #FFF;
    box-shadow: 0 0 80px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
}

.imageq img{
    width: 150px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.5);
}

.first_layer{
    width: 82%;
}

.first_layer p{
    text-align: justify;
}

.container .header{
    width: 80%;
    height: 10%;
    padding: 10%;
    padding-bottom: 0%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    letter-spacing: 10px;
    color: #1d1d1f;
}

.container p{
    font-size: small;
}

.header h1{
    font-size: 60px;
}

.header h2{
    font-weight: 400;
}

.line{
    width: 87%;
    height: 1px;
    background-color: #1d1d1f;
    margin: 1% 0% -1% 0%;
}
.resume_body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.first_layer{
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

.resume_body .left{
    height: auto;
    width: 3in;
    display: flex;
    padding: 5%;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

.resume_body .left h1{
    display: flex;
    justify-content: start;
}

.resume_body .right{
    height: auto;
    width: 4.5in;
    padding-top: 1.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.resume_body .right p{
    display: flex;
    justify-content: start;
    font-size: smaller;
}

.resume_body .right h1{
    display: flex;
    justify-content: start;
}

.contact_one a{
    color: #000;
}

.contact svg{
    filter: invert(1);
}

.contact_one, .contact_two, .contact_three{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: small;
    margin: 2% 0% 0% 0%;  
}

.education{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

.education_one h3, .education_two h3, .education_three h3{
    display: flex;
    text-align: left;
}

.education_one, .education_two, .education_three{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    font-size: small;
    margin: 2% 0% 0% 0%;
}

.experience p{
    text-align: justify;
    padding-right: 8%;
}

.certifications p{
    text-align: justify;
}

p{
    justify-content: flex-start;
}

.logos{
    width: 4in;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    filter: invert(0.9);
}

.contact_one svg, .contact_two svg, .contact_three svg{
    filter: invert(1);
}

label{
	position: absolute;
	width: 45px;
	height: 22px;
	right: 20px;
	top: 20px;
	border: 2px solid;
	border-radius: 20px;
}

label:before{
	position: absolute;
	content: '';
	width:20px;
	height: 20px;
	left: 1px;
	top: 1px;
	border-radius: 50%;
	background: #000;
	cursor: pointer;
	transition: 0.4s;
}

label.active:before{
	left: 24px;
	background: #FBF7F4;
}

body.night{
    background: #201D24;
	color: #FBF7F4;
}

body.night .container {
    background-color: #201D24;
    box-shadow: 0 0 80px 5px rgba(255, 0, 0, 0.5); 
}

body.night .container .header {
    background-color: #201D24;
    color: #FBF7F4;
}

body.night .container .header .imageq img {
    color: #FBF7F4;
    box-shadow: 0 0 30px 5px rgba(255, 0, 0, 0.5);
}

body.night .line{
    background-color: #FBF7F4;
}

body.night .logos svg{
    filter: invert(1);
}

body.night .contact_one p{
    color: #FBF7F4;
}

body.night .contact{
    filter: invert(1);
}

body.night .contact p{
    filter: invert(1);
}

@media (max-width: 425px) {
    .container .header {
        width: 80%;
        height: 10%;
        padding: 20%;
        padding-bottom: 10%;
    }

    .first_layer {
        padding: 5%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .resume_body .right {
        width: 3.5in;
    }

    .resume_body {
        flex-direction: column;
    }

    .header h1 {
        font-size: 30px;
    }

    .imageq img{
        width: 100px;
    }

    .container p {
        font-size: xx-small;
    }
}
