@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    color: #FBF7F4;
    padding: 0%;
    margin: 0%;
}

body{
    margin: 0;
    padding: 0;
    background: #201D24;
}

.container{
    max-width: 8.3in;
    width: 100%;
    height: auto;
    margin: 5% auto 5% auto;
    background-color: #201D24;
    box-shadow: 0 0 80px 5px rgba(255, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
}

.imageq img{
    width: 150px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 0 30px 5px rgba(255, 0, 0, 0.5);
}

.container .header{
    background-color: #201D24;
    width: 80%;
    height: 10%;
    padding: 10%;
    padding-bottom: 0%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    letter-spacing: 10px;
}

.container p{
    font-size: small;
}

.header h1{
    font-size: 60px;
}

.header h2{
    font-weight: 400;
}

.resume_body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.first_layer{
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

.resume_body .left{
    height: auto;
    width: 3in;
    display: flex;
    padding: 5%;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

.resume_body .left h1{
    display: flex;
    justify-content: start;
}

.resume_body .right{
    height: auto;
    width: 5in;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.resume_body .right p{
    display: flex;
    justify-content: start;
    font-size: smaller;
}

.resume_body .right h1{
    display: flex;
    justify-content: start;
}

.contact_one, .contact_two, .contact_three{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: small;
    margin: 2% 0% 0% 0%;
}

.contact_one img, .contact_two img, .contact_three img{
    margin: 0% 0% 5% 0%;
}

.education{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

.education_one h3, .education_two h3, .education_three h3{
    display: flex;
    text-align: left;
}

.education_one, .education_two, .education_three{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    font-size: small;
    margin: 2% 0% 0% 0%;
}


p{
    justify-content: flex-start;
}

.logos{
    width: 4in;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
